<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    <button (click)="shop()">Panier</button>

    <button (click)="mainPage()">Accueil</button>

    <button (click)="show()">Spectacles</button>

    <button (click)="contactus()">Contact</button>
    
  </mat-sidenav>
  
  <mat-sidenav-content class="child">
    <button class="btnMenu" mat-button (click)="sidenav.toggle()">
      <mat-icon class="navbar-icon" aria-hidden="false" aria-label="icon myEvent">menu</mat-icon>
    </button>
  </mat-sidenav-content>

</mat-sidenav-container>
