<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    <button class="btn-side" (click)="mainPage()">Home</button>
    
    <button class="btn-side" (click)="show()">Shows</button>
    
    <button class="btn-side" (click)="booking()">Booking</button>
    
    <button class="btn-side" (click)="contactus()">Contact Us</button>
    
  </mat-sidenav>
  
  <mat-sidenav-content class="child">
    <button class="btnMenu" mat-button (click)="sidenav.toggle()">
      <mat-icon class="navbar-icon" aria-hidden="false" aria-label="icon myEvent">menu</mat-icon>
    </button>
  </mat-sidenav-content>

</mat-sidenav-container>
