.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;  
  }

  a {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      align-items: center;
  }
  
.child {
    background:none;
    width: 5vw;

}

.btnMenu{
    margin-left: 1rem;
    margin-top: 1rem;
    background: none;
    text-decoration: none;
    border: none;
    color: #1BA098
}

.mat-drawer {
    background-color:black;
    color: #fafafa;
}