.navbar-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; 
    
}
.logo {
    margin-left: 2rem;
    font-size: large;
    color: #DEB992;
}
.login{
    margin-right: 2rem;
    background: none;
    text-decoration: none;
    border: none;
    color: #DEB992;
}






