section{
    
    background: honeydew; 
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        color: #1BA098; 
    }
}
h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 2em;
    font-weight: 800;
}