
<div class="containerModal">


<h1 mat-dialog-title>Edit :</h1>
<div mat-dialog-content *ngIf="user">
  <mat-form-field>
    <form (submit)="myForm.valid && sendTicket()" #myForm="ngForm" class="card-white text-center">
      <h2>Edit</h2>
      
  <h3>Name :</h3>
  <input type="text" [(ngModel)]="user.lastname" name="lastname" #nameRef=ngModel>
  
  
  <h3>firstName :</h3>
  <input type="text" [(ngModel)]="user.firstname" name="firstname" #nameRef=ngModel>
  
  
  <h3>Email :</h3>
  <input type="email" [(ngModel)]="user.email" name="email" #emailRef=ngModel>
  
  
  <h3>Date :</h3>
  <input type="date" value="yyyy-mm--jj" min="2020-01-01" max="2020-12-31" [(ngModel)]="user.tickets[0].date" name="date" #dateRef=ngModel>
  
  
  <h3>Number of tickets :</h3>
  <input type="number" [(ngModel)]="user.tickets[0].numTicket" name="number" #numberRef=ngModel>

  
    <button mat-raised-button (click)="updateTicket(user)">
      Edit
  </button>
  
  </form>

  </mat-form-field>
</div>


<div mat-dialog-actions>
  <button mat-button (click)="closeClick()">No Thanks</button>
</div>

</div>


  
