<button class="btn" mat-raised-button [routerLink]="['/dashboard']">
  <mat-icon class="navbar-icon" aria-hidden="false" aria-label="icon myEvent">keyboard_backspace</mat-icon>
</button>

<section>

  
  <div class="container-admin" *ngFor="let user of users">
  
  <p> Name : {{user.lastname}}</p>
  <p>Firstname : {{user.firstname}}</p>
  <p>Email : {{user.email}}</p>
  <p>Date : {{user.tickets[0].date | date: 'd MMMM , y'}}</p>
  <p>Tickets : {{user.tickets[0].numTicket}}</p>
  
  <button mat-raised-button (click)="edit(user)">
    Edit
</button>
  <button (click)="delete(user.id)">Delete</button>
  </div>

</section>
