
<form (submit)="myForm.valid && sendTicket()" #myForm="ngForm" class="card-white text-center">
    <h2>Book your tickets</h2>
    
<h3>Name :</h3>
<input type="text" [(ngModel)]="user.lastname" name="name" #nameRef=ngModel required>
<div *ngIf="nameRef?.errors?.required && myForm.submitted">the Name field is required</div>

<h3>firstName :</h3>
<input type="text" [(ngModel)]="user.firstname" name="name" #nameRef=ngModel required>
<div *ngIf="nameRef?.errors?.required && myForm.submitted">the Name field is required</div>

<h3>Email :</h3>
<input type="email" [(ngModel)]="user.email" name="email" #emailRef=ngModel required>
<div *ngIf="emailRef?.errors?.required && myForm.submitted">the Email field is required</div>

<h3>Date :</h3>
<input type="date" value="yyyy-mm--jj" min="2020-01-01" max="2020-12-31" [(ngModel)]="ticket.date" name="date" #dateRef=ngModel required>
<div *ngIf="dateRef?.errors?.required && myForm.submitted">the date field is required</div>

<h3>Number of tickets :</h3>
<input type="number" [(ngModel)]="ticket.numTicket" name="number" #numberRef=ngModel required>
<div *ngIf="numberRef?.errors?.required && myForm.submitted">the Number of tickets field is required</div>

  <button class="btnconfirm" mat-raised-button (click)="confirmTicket()">
    <mat-icon class="navbar-icon" aria-hidden="false" aria-label="icon myEvent">add_shopping_cart</mat-icon>
</button>

</form>
