
<div class="container">

    <div class="maincontainer" *ngFor="let show of shows">

        <div class="thecard">
            <div class="thefront">
            <p>Nom du Spectacle : {{show.title}}</p>
            <img src={{show.image}} alt="image" />

            </div>
            <div class="theback" class="theback">
                <p>Prix : {{show.price}}</p>
                <p>Date : {{show.date}}</p>
            </div>
        </div>

        <div class="btnitem">
            <button mat-raised-button (click)="openModal()">
                <mat-icon class="navbar-icon" aria-hidden="false" aria-label="icon myEvent">add_shopping_cart</mat-icon>
            </button>

    </div>
</div>
