<div class="maincontainer">
    <div class="thecard">
        <div class="thefront">front of the card</div>
        <div class="theback">back of the card</div>
    </div>

    <div class="thecard">
        <div class="thefront">front of the card</div>
        <div class="theback">back of the card</div>
    </div>

    <div class="thecard">
        <div class="thefront">front of the card</div>
        <div class="theback">back of the card</div>
    </div>
</div>

<div class="btncontainer">
    <div class="btnitem">
        <button class="btnShop" mat-button>
            <mat-icon class="navbar-icon" aria-hidden="false" aria-label="icon myEvent">add_shopping_cart</mat-icon>
            Ajouter au Panier
          </button>
    </div>

    <div class="btnitem">
        <button class="btnShop" mat-button>
            <mat-icon class="navbar-icon" aria-hidden="false" aria-label="icon myEvent">add_shopping_cart</mat-icon>
            Ajouter au Panier
          </button>
    </div>

    <div class="btnitem">
        <button class="btnShop" mat-button>
            <mat-icon class="navbar-icon" aria-hidden="false" aria-label="icon myEvent">add_shopping_cart</mat-icon>
            Ajouter au Panier
          </button>
    </div>


</div>