
<div class="container">

    <div class="maincontainer" *ngFor="let ticket of tickets">

        <div class="thecard">
            <div class="thefront">
            <p>Nom du Spectacle : {{ticket.title}}</p>


            </div>
            <div class="theback" class="theback">
                <p>Prix : {{ticket.price}}</p>
                <p>Date : {{ticket.date}}</p>
            </div>
        </div>

    </div>
</div>

<div class="btncontainer">

    <div *ngFor="let button of buttons">
        
        <div class="btnitem">
            <button mat-raised-button (click)="openModal()">
                <mat-icon class="navbar-icon" aria-hidden="false" aria-label="icon myEvent">add_shopping_cart</mat-icon>
            </button>
        </div>
    </div>
    

</div>