.scroll-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}
section {
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 2em;
    font-weight: 800;
}

.container-paragraph {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    color: #DEB992;
    h1 {
        text-transform: uppercase;
        font-size: 1em;
        letter-spacing: 0.8em;
        padding-bottom: 4em;
        text-align: center;
    }
    h3{
        padding-bottom: 2em;
        text-align: center;
    }
    p{
        padding-bottom: 2em;
        text-align: justify;
    }
}

.S1 {
    background: #051622;

    h1{
        color: #1BA098
    }
}
.S2 {
    background: #DEB992;

    h1{
        color: #051622; 
    }
}
.S3 {
    background: #051622; 

    h1{
        color: honeydew; 
    }
}
.S4 {
    background: honeydew; 

    h1{
        color: #1BA098; 
    }
}




