<body>
    <app-sidenav></app-sidenav>
    <div class="scroll-container">

        <section class="S1">

            
            <div class="container-paragraph">
                <h1>Welcome to the Wild Circus !</h1>

                <div class="paragraph">
                    <h3>Laugh</h3>
                    <p>As an adult, come and discover our irresistible clowns, between practical jokes and pranks let
                        yourself be carried away by their joy and fall back into childhood.</p>
                </div>

                <div class="paragraph">
                    <h3>Dream</h3>
                    <p>Let yourself be carried away in a world where the real and the imaginary are one, in the company of
                        our talented magicians, discover a wonderful world limited only by your imagination.</p>
                </div>

               <div class="paragraph">
                   <h3>Marvel at</h3>
                   <p>Tame the untameable in the company of our tamers, between roar and razor-sharp claws, watch these
                       fierce felines turn into sweet kittens.</p>
               </div>


<!-- The Wild Circus invites you to Wonderland. In an original show, the artists marry with delicacy and boundless energy, acrobatic move, humor and visual comedy
They are ready to transport you to their universe and to make you discover behind the scenes of the Wild Circus.
As Ernest Hemingway said : "The circus is the only fun you can buy that is good for you."
So come on in, come meet us under our circus tent ! -->

            </div>

        </section>

        <section class="S2">
            <app-shows></app-shows>
        </section>

        <section class="S3">
            <app-contact></app-contact>
        </section>

    </div>
</body>