.scroll-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}
section {
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 2em;
    font-weight: 800;
}

.S1 {
    background: #051622;

    h1{
        color: #1BA098
    }
}
.S2 {
    background: #DEB992;

    h1{
        color: #051622; 
    }
}
.S3 {
    background: honeydew; 

    h1{
        color: #1BA098; 
    }
}
// .S4 {
//     background: honeydew; 

//     h1{
//         color: #1BA098
//     }
// }



.maincontainer {
    position: relative;
    width: 70vw;
    height: 320px;
    display: flex;
    justify-content: space-between;
    margin: 1em;
    // background: green;
}

.thecard {
    // position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.7s ease-in-out;
    margin-right: 2rem;
    // background: yellow;
}


.thecard:hover {
    transform: rotateY(180deg);
}

.thefront{
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // backface-visibility: hidden;
    background: #ffc728;
    // color: #333;
    // text-align: center;
    // font-family: 'zilla slab', sans-serif;
    // border-radius: 20px;
    // font-size: 10px;
    // font-weight: bold;
}

.theback{
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // backface-visibility: hidden;
    background: #fafafa;
    // color: #333;
    transform: rotateY(180deg);
}

.thefront, .theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;
    font-family: 'zilla slab', sans-serif;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 2px rgba(0, 0, 0, 0.23);
} 
















// .card-container {
//     width: 300px;
//     height: 400px;
//     perspective: 1000px;
//     background-color: transparent;
// }

// .flip-card-inner {
//     position: relative;
//     width: 100%;
//     height: 100%;
//     transition: all .7s;
//     transform-style: preserve-3d;
// }

// .card-container:hover .card {
//     transform: rotateY(-180deg);
// }
// .front{
//     background: linear-gradient(90deg, #0086FF, #0066FF);
// }
// .back{
//     background: linear-gradient(90deg, #FF2A78, #F100AE);
// }
// .front, .back {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//     color: white;
//     border-radius: 4px;
//     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
//                 0 6px 6px rgba(0, 0, 0, 0.23);
//     backface-visibility: hidden;
// }



