<body>
    <app-sidenav></app-sidenav>
    <div class="scroll-container">

        <section class="S1">
            <h1>Section 1</h1>
        </section>

        <section class="S2">

            
            <div class="maincontainer">

                <div class="thecard">
                    <div class="thefront">front of the card</div>
                    <div class="theback">back of the card</div>
                </div>

                <div class="thecard">
                    <div class="thefront">front of the card</div>
                    <div class="theback">back of the card</div>
                </div>

                <div class="thecard">
                    <div class="thefront">front of the card</div>
                    <div class="theback">back of the card</div>
                </div>




            </div>

         


        </section>

        <section class="S3">
            <h1>Section 3</h1>
        </section>

        <!-- <section class="S4">
            <h1>Section 4</h1>
        </section> -->

    </div> 
</body>
